version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    container_name: siap-kerja-web
    restart: unless-stopped
    environment:
      - NODE_ENV=production
